<h1>Add a New employer</h1>
<form method="post">
        <fieldset>
            <label for="name">Name: *</label>
            <input name="name" id="name" required />
            <button class="btn btn-primary">Save</button>
        </fieldset>
        <fieldset>
            <label for="region">Region: *</label>
            <input name="region" id="region" required />
            <button class="btn btn-primary">Save</button>
        </fieldset>
        <fieldset>
            <label for="description">Description: *</label>
            <input name="decription" id="description" required />         
        </fieldset>
        <button class="btn btn-primary">Save</button>
</form>