<h1>Employers</h1>
<a class="btn btn-secondary" href="/employers/create">Add a New Employer</a>
<section class="row">
    {{#each employers}}
    <div class="card col-3 m-2">
        <div class="card-body text-center h-100">
            <h5 class="card-title">{{this.name}}</h5>
            <p>{{this.region}}</p>
            <p>{{this.description}}</p>
        </div>
    </div>
    {{/each}}
</section>