@import url('https://fonts.googleapis.com/css2?family=Mukta&display=swap');

body {
  padding: 50px;
  font: 14px 'Mukta', sans-serif;
}

a {
  color: #CDDC39;
}

.navbar-dark {
  background-color: #009688;
}

.btn-primary {
  background-color: #CDDC39;
}
