@import url('https://fonts.googleapis.com/css2?family=Mukta&display=swap');

body {
  font: 14px 'Mukta', sans-serif;
}

a {
  color: #CDDC39;
}

.navbar-dark {
  background-color: #009688;
}

.btn-primary {
  background-color: #CDDC39;
}

.btn-primary:hover {
  background-color: #009688 !important;
}

main {
  padding-top: 20px;
  padding-left: 50px;
}
