<h1>Add a New Region</h1>
<form method="post">
    <fieldset>
        <label for="name">Name: *</label>
        <input name="name" id="name" required />
        <button class="btn btn-primary">Save</button>
    </fieldset>
</form>